.page {
    display: flex;
    flex-direction: column;
    border: 0px;
    padding: 0px;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    padding: 0px;
    margin: 0px;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    width: max-content;
    color: #F9FAF8;
    border: 0px;
    padding: 2px 16px;
    margin-top: 8px;
}

.top, .mid-content, .quote-container, .bottom-content, .footer {
    display: flex;
    flex-direction: column;
    padding: 16px 200px 100px;
}

.top {
    background-color: #1F2937;
    border: 0px;
    gap: 36px;
}

.top-content, .header {
    display: flex;
    margin: 0px;
    padding: 0px;
    border: 0px;
    gap: 24px;
    align-items: flex-start;
    justify-content: space-between;
}

.top-content {
    height: 200px;
}

.placeholder, .top-left { 
    flex: 1;
    align-self: flex-start;
    padding: 0px;
    margin: 0px;
    max-width: 400px;
    height: 230px;
}

.top-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.subtext, a {
    font-size: 18px;
    color: #E5E7EB
}

.placeholder {
    display: flex;
    background-color: lightgrey;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
}   

.cards {
    display: flex;
}